* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(235, 84, 38);
    padding: 30px;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

.input-group {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

label {
    color: white;
    font-size: 1.3rem;
    font-weight: 300;
}

input,
select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    outline: none;
    background-color: white;
    padding: 10px 15px;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(235, 84, 38);
    margin: 10px 0 5px;
}

select,
option {
    cursor: pointer;
}

input[type='submit'] {
    background-color: rgb(235, 84, 38);
    border: 1px solid white;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

input[type='submit']:hover {
    background-color: white;
    color: rgb(235, 84, 38);
}

select {
    width: 100%;
}

p.error {
    color: red;
    font-size: 0.9rem;
    font-style: italic;
    margin: 5px 0;
    display: none;
}

p.result {
    font-size: 2rem;
    color: white;
    margin: 2rem 0 0;
    text-align: center;
}

::placeholder {
    color: rgba(235, 84, 38, 0.8);
}